body{
  font-family: "Helvetica";
  font-weight:lighter;
  margin:0;
  padding:0;
}
/* links */

a:link,a:active,a:visited {  text-decoration: none;  color : #000000; }
a:hover { font-weight: bold;  text-decoration: none; color : #000000; }


img{
  width:200px;
  height:auto;
}
h1{
  font-size: 12px;
  display:inline;
  float:right;
}
.logo{
  position:fixed;
  right:20px;
  top:0px;
  width:170px;

}
nav{
  position:fixed;
  top:0px;
  left: 20px;
}
nav ul li {
  display: inline;
  list-type-style: none;
  padding:5px;
}

#menu{
  font-size:10px;
}

.images_text{
  postion: inherit;

}
.row img:hover{
  opacity: 0.4;
  transition-timing-function: 2s;
}
.nav a:hover{
  color: grey;
  transition-timing-function: 0,5s;
}
.row{
  width:600px;
  height: auto;
  float:left;
  margin-bottom: 20px;
  margin-top:20px;
}


.hochformat{
  float:left;
  width:100px;
  height:auto;
  margin-right:130px;
}

.querformat{
  float:left;
  width:200px;
  height:auto;
}
